<div class="content comment-section">
    {{#each route.comments}}
    <div class="route-card">
    {{#if_eq_or ../member.id member.id ../member.isAdmin}}
    <span class="comment-remove right">
        <svg onclick="viewModel.removeComment('{{id}}','{{routeId}}');" style="width:18px;height:18px" viewBox="0 0 24 24">
            <path fill="#ccc" d="M19,4H15.5L14.5,3H9.5L8.5,4H5V6H19M6,19A2,2 0 0,0 8,21H16A2,2 0 0,0 18,19V7H6V19Z" />
        </svg>
    </span>
    {{/if_eq_or}}
    <span class="comment-author">{{{member.displayName}}} on {{formatdate date}}:</span>
        {{#if_eq video null}}
        {{else}}
        <video class="video-beta" controls>
            <source src="{{video.fileUrl}}" type="video/mp4">
        </video>
        {{/if_eq}}
        {{breaklines message}}
    </div>
    {{/each}}
    {{#if isAuthed}}
    <div class="route-card comment-card editable">
        <div class="progress">
            <div class="indeterminate"></div>
        </div>
        <form id="comment-form" class="comment-input" enctype="multipart/form-data">
            <textarea type="text" name="text" class="comment-text-input" placeholder="Write comment"></textarea>
            <label for="files" id ="select-video-button" class="comment-clickable left">
                <svg style="width:36px;height:36px" viewBox="0 0 24 24">
                    <path class="comment-add-button" d="M17,10.5V7A1,1 0 0,0 16,6H4A1,1 0 0,0 3,7V17A1,1 0 0,0 4,18H16A1,1 0 0,0 17,17V13.5L21,17.5V6.5L17,10.5Z" />
                </svg>
            </label>
            <input class="hidden" id="files" name="file" type="file" accept="video/*" onchange="viewModel.imageAdded();">
            <div class="comment-clickable right comment-send " onclick="addComment($(this).parent()[0]);">
                <svg style="width:24px;height:24px" viewBox="0 0 24 24">
                    <path d="M2,21L23,12L2,3V10L17,12L2,14V21Z" />
                </svg>
            </div>
        </form>
        <div style="clear:both;height:0;width:100%;"></div>
    </div>
    {{/if}}
</div>