{{#if_eq selectedGrade null}}
<div class="orderable-list">
    {{#each grades}}
    <div class="orderable-item">
        <div class="order-controls">
            <div class="order-up pressable" onclick="viewModel.gradesSwap({{difficulty}}, -1)"></div>
            <div class="order-down pressable" onclick="viewModel.gradesSwap({{difficulty}}, 1)"></div>
        </div>
        <div class="order-content grade-{{difficulty}} grade-item pressable" onclick="viewModel.selectGrade({{difficulty}})">
            <label class="color-label" style="background-color: rgb({{color.r}},{{color.g}},{{color.b}})">
                <svg class="grade-checkmark" viewbox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"
                    fill="{{#if_light color}}#222222{{else}}#FFFFFF{{/if_light}}">
                    <polygon points="8.9999939 16.2 4.7999939 12 3.3999939 13.4 8.9999939 19 20.9999939 7 19.5999939 5.6"></polygon>
                </svg>
            </label>
            <div class="grade-details">
                <h2>Name</h2>
                <span class="gradename">{{name}}</span>
            </div>
            <div class="clear"></div>
        </div>
    </div>
    {{/each}}
</div>
<div class="button-group">
    <input class="submit-button neutral" id="grade-input-new" type="button" onclick="viewModel.addNewGrade()" value="Add">
</div>
{{else}}
<div class="close-button" onclick="viewModel.selectGrade()"></div>
<div class="string-input">
    <h2>Name</h2>
    <input id="name" class="gradename-input" type="text" onchange="viewModel.changeGradeName(this.value)" value="{{selectedGrade.name}}" placeholder="Name">
</div>
<div class="color-select-input">
    <h2>Color</h2>
    <div class="color-select-preview color-label" style="background-color:rgb({{selectedGrade.color.r}},{{selectedGrade.color.g}},{{selectedGrade.color.b}})"></div>
    <input class="color-select-slider" type="range" min="0" max="360" oninput="viewModel.setHue(this.value)">
    <div class="predefines">
        <input type="button" class="set-white" value="White" onclick="viewModel.setColor(0xfb,0xfb,0xfb)" />
        <input type="button" class="set-black" value="black" onclick="viewModel.setColor(0x66,0x66,0x66)"/>
    </div>
</div>

<div class="button-group">
    <input class="submit-button negative" type="button" onclick="viewModel.deleteGrade('{{selectedGrade.difficulty}}')" value="Delete">
    <input class="submit-button neutral" type="button" onclick="viewModel.updateGrade()" value="Save">
</div>
<div class="clear"></div>
{{/if_eq}}