<div class="expansion-panel {{#if_be selectedSection}}expanded{{/if_be}}">
    {{log selectedSection}}
    <div class="expansion-panel-header">
        <h2 class="title">Sections</h2>
        <div class="arrow transitioning-icon">
            <span class="first"></span>
            <span class="second"></span>
        </div>
    </div>
    <div class="content-section section-picker">
        <div class="radio-inputs">
            {{#each sections}}
            <input id="section-input-{{name}}" onclick="viewModel.changeSection('{{id}}')" name="section" type="radio" {{#if_eq ../selectedSection.id id}} checked {{/if_eq}}>
            <label for="section-input-{{name}}" class="section-box">
                <span>{{name}}</span>
            </label>
            {{/each}}
        </div>

        <div class="button-group">
            <input class="submit-button positive" id="section-input-new" type="button" onclick="viewModel.addNewSection()" value="Add">
            <input class="submit-button neutral" type="button" onclick="viewModel.renameSection()" value="Rename">
        </div>

        <div class="button-group">
            <input class="submit-button negative" type="button" onclick="viewModel.clearSection()" value="Clear">
            <input class="submit-button negative" type="button" onclick="viewModel.deleteSection('{{selectedSection.name}}')" value="Delete">
        </div>
        <div class="clear"></div>
    </div>
</div>